[submodule "examples/multimodal/stable_diffusion/swift+coreml/ml-stable-diffusion"]
	path = examples/multimodal/stable_diffusion/swift+coreml/ml-stable-diffusion
	url = https://github.com/lishicheng1996/ml-stable-diffusion.git
	branch = paddle_SD
[submodule "examples/multimodal/stable_diffusion/swift+coreml/swift_coreml_diffusers"]
	path = examples/multimodal/stable_diffusion/swift+coreml/swift_coreml_diffusers
	url = https://github.com/lishicheng1996/swift-coreml-diffusers.git
	branch = paddle_stable_diffusion
