setuptools>=62.3.0,<80.0
pre-commit
yapf
flake8
ruamel.yaml
zmq
aiozmq
openai>=1.93.0
tqdm
pynvml
uvicorn==0.29.0
fastapi
paddleformers==0.3.1
redis
etcd3
httpx
tool_helpers
pybind11[global]
tabulate
gradio
xlwt
visualdl
setuptools-scm>=8
prometheus-client
decord
moviepy
wheel
use-triton-in-paddle
crcmod
fastsafetensors==0.1.14
msgpack
gunicorn
opentelemetry-api>=1.24.0
opentelemetry-sdk>=1.24.0
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-mysql
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-logging
partial_json_parser
msgspec
safetensors==0.7.0rc0
