setuptools
pre-commit
yapf
flake8
ruamel.yaml
zmq
aiozmq
openai>=1.93.0
tqdm
pynvml
uvicorn>=0.38.0
fastapi
paddleformers>=1.1.1
redis
etcd3
httpx
fast_dataindex
cupy-cuda12x
pybind11[global]
tabulate
gradio
xlwt
visualdl
setuptools-scm>=8
prometheus-client
paddlecodec
moviepy
triton
crcmod
msgpack
gunicorn
modelscope
safetensors>=0.7.0
opentelemetry-api>=1.24.0
opentelemetry-sdk>=1.24.0
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-mysql
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-logging>=0.57b0
partial_json_parser
msgspec
einops
setproctitle
aistudio_sdk
p2pstore
py-cpuinfo
flashinfer-python-paddle @ https://xly-devops.bj.bcebos.com/flashinfer/flashinfer_python_paddle-0.4.1.2-py3-none-any.whl
flash_mask @ https://xly-devops.bj.bcebos.com/flashmask/flash_mask-4.0.0%2Bg4c84f74-py3-none-any.whl
transformers>=4.55.1,<5.0.0
