setuptools>=62.3.0,<80.0
pre-commit
yapf
flake8
ruamel.yaml
zmq
aiozmq
openai
tqdm
pynvml
uvicorn
fastapi
paddlenlp @ https://paddle-qa.bj.bcebos.com/paddlenlp/wheel/9f9c1d3e83a1738d8e092b229c6f03e39a04afd4/paddlenlp-3.0.0b4.post20250613-py3-none-any.whl
redis
etcd3
httpx
tool_helpers
cupy-cuda12x
pybind11[global]
tabulate
gradio
xlwt
visualdl
setuptools-scm>=8
prometheus-client
decord
moviepy
orjson
fastsafetensors @ https://paddlenlp.bj.bcebos.com/whl/fastsafetensors-0.1.13-cp310-cp310-linux_x86_64.whl
crcmod
