setuptools>=62.3.0,<80.0
pre-commit
yapf
flake8
ruamel.yaml
zmq
aiozmq
openai
tqdm
pynvml
uvicorn
fastapi
paddleformers
redis
etcd3
httpx
tool_helpers
cupy-cuda12x
pybind11[global]
tabulate
gradio
xlwt
visualdl
setuptools-scm>=8
prometheus-client
decord
moviepy
triton==3.3
use-triton-in-paddle
crcmod
fastsafetensors==0.1.14
