images/*.jpg
images/*.jpeg
images/*.png
models/*.onnx
models/*.pd*
models/*.engine
models/*.trt
models/*.nb
models/*param*
models/*model*
outputs/*.jpg
outputs/*.jpeg
outputs/*.png
outputs/*.txt
outputs/*.json