[run]
branch = True
source = fastdeploy
parallel = True
concurrency = multiprocessing

[paths]
source =
    fastdeploy
    */site-packages/fastdeploy
    */lib/python3.10/site-packages/fastdeploy
    */fastdeploy

[report]
omit =
    */site-packages/*/tests/*
    */site-packages/setuptools/*
    */dist-packages/*
    */site-packages/*/fastdeploy/model_executor/ops/gpu*
