[run]
branch = True
source = fastdeploy
concurrency = multiprocessing
patch = subprocess
parallel = True

[paths]
source =
    fastdeploy
    */site-packages/fastdeploy
    */lib/python3.10/site-packages/fastdeploy
    */fastdeploy

[report]
omit =
    */site-packages/*/tests/*
    */site-packages/setuptools/*
    */dist-packages/*
    */site-packages/*/fastdeploy/model_executor/ops/gpu*
    */fastdeploy/benchmarks/lib/endpoint_request_func.py
    */fastdeploy/model_executor/graph_optimization/utils.py
    */fastdeploy/model_executor/ops/gpu/fastdeploy_ops.py
    */fastdeploy/model_executor/ops/gpu/deep_gemm/utils.py
