[run]
branch = True
source = fastdeploy
concurrency = multiprocessing
patch = subprocess
parallel = True

[paths]
source =
    fastdeploy
    */site-packages/fastdeploy
    */lib/python3.10/site-packages/fastdeploy
    */fastdeploy

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    @abstractmethod
    @abc.abstractmethod

ignore_errors = True

omit =
    */site-packages/*/tests/*
    */site-packages/setuptools/*
    */dist-packages/*
    */site-packages/*/fastdeploy/model_executor/ops/gpu*
    */fastdeploy/benchmarks/lib/endpoint_request_func.py
    */fastdeploy/model_executor/graph_optimization/utils.py
    */fastdeploy/model_executor/ops/gpu/fastdeploy_ops.py
    */fastdeploy/model_executor/ops/gpu/fastdeploy_ops/__init__.py
    */fastdeploy/model_executor/ops/gpu/deep_gemm/utils.py
    */fastdeploy/**/dcu/*
    */fastdeploy/worker/dcu*.py
    */fastdeploy/**/gcu/*
    */fastdeploy/worker/gcu*.py
    */fastdeploy/**/intel_hpu/*
    */fastdeploy/worker/hpu*.py
    */fastdeploy/**/metax/*
    */fastdeploy/worker/metax*.py
    */fastdeploy/**/iluvatar/*
    */fastdeploy/worker/iluvatar*.py
    */fastdeploy/**/xpu/*
    */fastdeploy/worker/xpu*.py
